HOST=0.0.0.0
PROXY_RELAY_PORT=8080
PROXY_TOKEN=cambia_esto_por_token_seguro_de_32_chars
PROXY_ALLOWED_HOSTS=youtube.com,ytimg.com,googlevideo.com,yt3.ggpht.com
PROXY_CONNECT_ENABLED=false
PROXY_CONNECT_PORT=8888
PROXY_LOG_LEVEL=INFO
PROXY_RATE_LIMIT_RPM=60
